<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="/Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>


<span style="position:absolute; left:4px; top:147px; width:606px; height:9px">
<span id=ou0 style="position:absolute;left:0px;top:0px;width:606px;height:9px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u0.png',sizingMethod='scale');
"><img style="width:606px; height:9px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u0.png" border="0" alt=""></span>
</span>
<IMG id=u0 src="/Resources/transparent.gif" style="position:absolute; left:4px; top:147px; width:606px; height:9px"   >

<span style="position:absolute; left:3px; top:1193px; width:606px; height:15px">
<span id=ou1 style="position:absolute;left:0px;top:0px;width:606px;height:15px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u1.png',sizingMethod='scale');
"><img style="width:606px; height:15px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u1.png" border="0" alt=""></span>
</span>
<IMG id=u1 src="/Resources/transparent.gif" style="position:absolute; left:3px; top:1193px; width:606px; height:15px"   >

<span style="position:absolute; left:10px; top:150px; width:5px; height:1053px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u2.png',sizingMethod='scale');
"><img style="width:5px; height:1053px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u2.png" border="0" alt=""></span>

<IMG id=u2 src="/Resources/transparent.gif" style="position:absolute; left:9.5px; top:150px; width:2px; height:1050px">

<span style="position:absolute; left:601px; top:150px; width:5px; height:1043px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u3.png',sizingMethod='scale');
"><img style="width:5px; height:1043px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u3.png" border="0" alt=""></span>

<IMG id=u3 src="/Resources/transparent.gif" style="position:absolute; left:600.5px; top:150px; width:2px; height:1040px">

<DIV id=ou4 style="position:absolute; left:13px; top:209px; width:587px; height:37px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:595px; height:45px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u4.png',sizingMethod='scale');
"><img style="width:595px; height:45px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u4.png" border="0" alt=""></span>

</DIV>
<DIV id=u4container style="position:absolute; left:13px; top:209px; width:587px; height:37px;; overflow:visible">


<DIV id=u5 style="position:absolute; left:2px; top:10px; width:582px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u5_rtf><span style=" color:#000000; font-size:10pt;"><b>&nbsp; Member Profile</b></span></DIV></DIV>
</DIV>
<IMG id=u4 src="/Resources/transparent.gif" style="position:absolute; left:13px; top:209px; width:586px; height:36px"  >

<DIV id=ou6 style="position:absolute; left:24px; top:264px; width:131px; height:116px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:139px; height:124px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u6.png',sizingMethod='scale');
"><img style="width:139px; height:124px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u6.png" border="0" alt=""></span>

</DIV>
<DIV id=u6container style="position:absolute; left:24px; top:264px; width:131px; height:116px;; overflow:visible">

<DIV id=u7 style="position:absolute; left:2px; top:49.5px; width:126px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u7_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u6 src="/Resources/transparent.gif" style="position:absolute; left:24px; top:264px; width:130px; height:115px"  >


<DIV id=u8 style="position:absolute; left:42px; top:313px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u8_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">  <%= image_tag @user.avatar.url(:thumb)%>
</span></DIV></DIV>
<DIV id=u9 style="position:absolute; left:167px; top:267px; width:197px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u9_rtf><span style=" color:#000000; font-size:14pt;"><b><%= @user.first_name %></b></span></DIV></DIV>
<DIV id=u10 style="position:absolute; left:167px; top:300px; width:80px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u10_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b><td><%= @user.last_name %>&nbsp;&nbsp; 45</b></span></DIV></DIV>
<DIV id=u11 style="position:absolute; left:167px; top:330px; width:127px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u11_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b><%= @user.citytown %>, <%= @user.state %></b></span></DIV></DIV>
<DIV id=u12 style="position:absolute; left:167px; top:365px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u12_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Interested in:</b> </span></DIV></DIV>
<DIV id=u13 style="position:absolute; left:261px; top:366px; width:159px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u13_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @user.interest %></span></DIV></DIV>
<DIV id=ou14 style="position:absolute; left:14px; top:583px; width:587px; height:36px;; overflow:visible">



<span style="position:absolute; left:-3px; top:-3px; width:595px; height:44px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u14.png',sizingMethod='scale');
"><img style="width:595px; height:44px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u14.png" border="0" alt=""></span>

</DIV>
<DIV id=u14container style="position:absolute; left:14px; top:583px; width:587px; height:36px;; overflow:visible">

<DIV id=u15 style="position:absolute; left:2px; top:9.5px; width:582px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u15_rtf><span style=" color:#999999; font-size:10pt;"><b>&nbsp;&nbsp;<%= @user.first_name %>'s Work Information</b></span></DIV></DIV>
</DIV>


<DIV  style="position:absolute; left:34px; top:668px; width:366px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u16_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b>Account Manager -- Google Inc.&nbsp; ( Years of Exp )</b></span></DIV></DIV>


<span style="position:absolute; left:24px; top:730px; width:565px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u17.png',sizingMethod='scale');
"><img style="width:565px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u17.png" border="0" alt=""></span>



<DIV id=u18 style="position:absolute; left:41px; top:637px; width:230px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u18_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>21/02/05 -- Currently working</b></span></DIV></DIV>
<DIV id=u19 style="position:absolute; left:34px; top:700px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u19_rtf><span style=" font-family:'Arial'; color:#999999; font-size:10pt;">Description goes here...</span></DIV></DIV>
<DIV  style="position:absolute; left:34px; top:774px; width:336px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u20_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b>Account Manager -- Google Inc.&nbsp; ( 1 Year )</b></span></DIV></DIV>
<IMG id=u20 src="/Resources/transparent.gif" style="position:absolute; left:34px; top:774px; width:336px; height:19px" >

<DIV id=u21 style="position:absolute; left:41px; top:747px; width:230px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u21_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>21/02/04 -- 21/02/04</b></span></DIV></DIV>
<DIV id=u22 style="position:absolute; left:34px; top:808px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><span style=" font-family:'Arial'; color:#999999; font-size:10pt;">Description goes here...</span></DIV></DIV>
<span style="position:absolute; left:24px; top:837px; width:565px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u23.png',sizingMethod='scale');
"><img style="width:565px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u23.png" border="0" alt=""></span>



<DIV id=ou24 style="position:absolute; left:14px; top:861px; width:587px; height:36px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:595px; height:44px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u24.png',sizingMethod='scale');
"><img style="width:595px; height:44px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u24.png" border="0" alt=""></span>

</DIV>
<DIV id=u24container style="position:absolute; left:14px; top:861px; width:587px; height:36px;; overflow:visible">

<DIV id=u25 style="position:absolute; left:2px; top:9.5px; width:582px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u25_rtf><span style=" color:#999999; font-size:10pt;"><b>&nbsp;&nbsp; <%= @user.first_name %>'s Education Information</b></span></DIV></DIV>
</DIV>


<DIV  style="position:absolute; left:46px; top:917px; width:248px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u26_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>20/01/05 -- Currently Studying</b></span></DIV></DIV>


<DIV  style="position:absolute; left:49px; top:971px; width:273px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u27_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><b>M.S. University, California</b></span></DIV></DIV>
<IMG id=u27 src="//Resources/transparent.gif" style="position:absolute; left:49px; top:971px; width:273px; height:18px" >

<DIV id=u28 style="position:absolute; left:48px; top:999px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u28_rtf><span style=" font-family:'Arial'; color:#999999; font-size:10pt;"><%= @user.description %></span></DIV></DIV>
<span style="position:absolute; left:23px; top:1033px; width:565px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u29.png',sizingMethod='scale');
"><img style="width:565px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u29.png" border="0" alt=""></span>

<IMG id=u29 src="//Resources/transparent.gif" style="position:absolute; left:23px; top:1032.5px; width:562px; height:2px">

<DIV  style="position:absolute; left:48px; top:943px; width:269px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u30_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b>Computer Science</b></span></DIV></DIV>
<IMG id=u30 src="/Resources/transparent.gif" style="position:absolute; left:48px; top:943px; width:269px; height:19px" >

<DIV  style="position:absolute; left:46px; top:1046px; width:269px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u31_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>20/01/05 -- Currently Studying</b></span></DIV></DIV>
<IMG id=u31 src="//Resources/transparent.gif" style="position:absolute; left:46px; top:1046px; width:269px; height:16px" >

<DIV  style="position:absolute; left:49px; top:1100px; width:273px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u32_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><b>M.S. University, California</b></span></DIV></DIV>
<IMG id=u32 src="/Resources/transparent.gif" style="position:absolute; left:49px; top:1100px; width:273px; height:18px" >

<DIV id=u33 style="position:absolute; left:48px; top:1128px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u33_rtf><span style=" font-family:'Arial'; color:#999999; font-size:10pt;">Description goes here...</span></DIV></DIV>
<DIV  style="position:absolute; left:48px; top:1072px; width:269px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u34_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b>Computer Science</b></span></DIV></DIV>
<IMG id=u34 src="/Resources/transparent.gif" style="position:absolute; left:48px; top:1072px; width:269px; height:19px" >

<span style="position:absolute; left:22px; top:1157px; width:565px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u35.png',sizingMethod='scale');
"><img style="width:565px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u35.png" border="0" alt=""></span>

<IMG id=u35 src="/Resources/transparent.gif" style="position:absolute; left:22px; top:1156.5px; width:562px; height:2px">

<DIV id=u36 style="position:absolute; left:24px; top:393px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u36_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Connected to:</span></DIV></DIV>
<DIV id=u37 style="position:absolute; left:110px; top:392px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u37_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u><%=link_to "edit", edit_user_registration_path %></u></span></DIV></DIV>
<DIV id=u38 style="position:absolute; left:514px; top:809px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u38_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Edit</u></span></DIV></DIV>
<span style="position:absolute; left:0px; top:1209px; width:783px; height:7px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u39.png',sizingMethod='scale');
"><img style="width:783px; height:7px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u39.png" border="0" alt=""></span>


<script type="text/javascript">
InitializeSubmenu('sm0u53', 'rou57', 'u57', 'u57ShowSubmenu');
</script>

<DIV id=sm1u53 style="position:absolute; left:20px; top:89px; width:416px; height:20px; visibility:hidden;">
<IMG src="/Resources/transparent.gif" style="position:absolute; left:166px; top:-100px; width:350px; height:370px;" onmouseover="document.getElementById('sm1u53').style.visibility='hidden'; SwapBack('u59','u60');">

<DIV style="position:absolute; left:0px; top:0px; width:1px; height:1px;">
<IMG id=rou59 src="/Resources/transparent.gif" style="position:absolute; left:266px; top:0px; width:150px; height:20px" onmouseover="SwapOut('u59','u60', textRolloverJsonu60, true)">

</DIV>
<span style="position:absolute; left:263px; top:17px; width:115px; height:159px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u71.png',sizingMethod='scale');
"><img style="width:115px; height:159px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u71.png" border="0" alt=""></span>

<IMG id=u71 src="/Resources/transparent.gif" style="position:absolute; left:266px; top:20px; width:106px; height:150px">

<DIV id=u71container style="position:absolute; left:266px; top:20px; width:107px; height:151px;; overflow:visible">

<DIV id=u72 style="position:absolute; left:3px; top:3px; width:105px; height:149px;"></DIV>

<DIV id=u72container style="position:absolute; left:3px; top:3px; width:105px; height:149px; overflow:hidden">

<script type="text/javascript">
    var textRolloverJsonu74 = {"fontStyle":"normal"};
</script>

<DIV id=ru73 style="position:absolute; left:0px; top:0px; width:101px; height:37px;; overflow:visible; visibility:hidden;">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:45px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/ru73.png',sizingMethod='scale');
"><img style="width:109px; height:45px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/ru73.png" border="0" alt=""></span>

</DIV>
<DIV id=ou73 style="position:absolute; left:0px; top:0px; width:101px; height:37px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:45px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u73.png',sizingMethod='scale');
"><img style="width:109px; height:45px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u73.png" border="0" alt=""></span>

</DIV>
<DIV id=u73container style="position:absolute; left:0px; top:0px; width:101px; height:37px;; overflow:visible">

<DIV id=u74 style="position:absolute; left:2px; top:2px; width:96px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u74_rtf><span style=" color:#000000; font-size:10pt;">Meeting Requests</span></DIV></DIV>
</DIV>
<IMG id=u73 src="/Resources/transparent.gif" style="position:absolute; left:0px; top:0px; width:100px; height:36px" onmouseover="SwapOut('u73', 'u74', textRolloverJsonu74,true)" onmouseout="SwapBack('u73' , 'u74')" >

<script type="text/javascript">
    var textRolloverJsonu76 = {"fontStyle":"normal"};
</script>



<DIV id=sm2u53 style="position:absolute; left:20px; top:89px; width:416px; height:20px; visibility:hidden;">
<IMG src="//Resources/transparent.gif" style="position:absolute; left:-100px; top:-100px; width:343px; height:358px;" onmouseover="document.getElementById('sm2u53').style.visibility='hidden'; SwapBack('u55','u56');">

<DIV style="position:absolute; left:0px; top:0px; width:1px; height:1px;">
<IMG id=rou55 src="//Resources/transparent.gif" style="position:absolute; left:0px; top:0px; width:135px; height:20px" onmouseover="SwapOut('u55','u56', textRolloverJsonu56, true)">

</DIV>
<span style="position:absolute; left:-3px; top:17px; width:152px; height:147px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u81.png',sizingMethod='scale');
"><img style="width:152px; height:147px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u81.png" border="0" alt=""></span>

<IMG id=u81 src="/Resources/transparent.gif" style="position:absolute; left:0px; top:20px; width:143px; height:138px">

<DIV id=u81container style="position:absolute; left:0px; top:20px; width:144px; height:139px;; overflow:visible">

<DIV id=u82 style="position:absolute; left:3px; top:3px; width:142px; height:137px;"></DIV>

<DIV id=u82container style="position:absolute; left:3px; top:3px; width:142px; height:137px; overflow:hidden">

<script type="text/javascript">
    var textRolloverJsonu84 = {"fontStyle":"normal"};
</script>



<DIV id=u53ann style="font-size:1px; position:absolute; left:427px; top:85px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u93 style="position:absolute; left:544px; top:93px; width:160px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u93_rtf><span style=" font-family:'Arial'; color:#999999; font-size:9pt;">(Search by Name or Title)</span></DIV></DIV>
<DIV id=u94 style="position:absolute; left:513px; top:699px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u94_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Edit</u></span></DIV></DIV>
<DIV id=u94ann style="font-size:1px; position:absolute; left:574px; top:695px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u95 style="position:absolute; left:515px; top:1124px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u95_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Edit</u></span></DIV></DIV>
<DIV id=u96 style="position:absolute; left:514px; top:1005px; width:46px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u96_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Edit</u></span></DIV></DIV>
<DIV id=u96ann style="font-size:1px; position:absolute; left:551px; top:1001px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou97 style="position:absolute; left:10px; top:153px; width:591px; height:41px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:599px; height:49px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/profile page_files/u97.png',sizingMethod='scale');
"><img style="width:599px; height:49px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/profile page_files/u97.png" border="0" alt=""></span>

</DIV>
<DIV id=u97container style="position:absolute; left:10px; top:153px; width:591px; height:41px;; overflow:visible">

<DIV id=u98 style="position:absolute; left:2px; top:12px; width:586px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u98_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u97 src="/Resources/transparent.gif" style="position:absolute; left:10px; top:153px; width:590px; height:40px"  >

<DIV id=u99 style="position:absolute; left:23px; top:162px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u99_rtf><span style=" font-family:'Arial'; color:#993366; font-size:10pt;"><u>Personal Details</u></span></DIV></DIV>
<DIV id=u100 style="position:absolute; left:129px; top:162px; width:73px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u100_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Availability</u></span></DIV></DIV>
<DIV id=u101 style="position:absolute; left:204px; top:162px; width:40px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u101_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Work</u></span></DIV></DIV>
<DIV id=u101ann style="font-size:1px; position:absolute; left:235px; top:158px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u102 style="position:absolute; left:255px; top:162px; width:67px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u102_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Education</u></span></DIV></DIV>
<DIV id=u102ann style="font-size:1px; position:absolute; left:313px; top:158px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u103 style="position:absolute; left:329px; top:162px; width:60px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u103_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Settings</u></span></DIV></DIV>
<DIV id=ou104 style="position:absolute; left:615px; top:147px; width:206px; height:131px;; overflow:visible">

<SCRIPT src="/Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="images/profile page_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
