<br/><br /><br /><br/><br /><br />
<h1>Reply Messages</h1>

<table cellspacing=10>
       <%=form_for :message, :url=>{:action=>"sendmessage", :controller=>"message"} do |f|%>
                       <tr>
                       <td><%=f.hidden_field :sender, :value=>@sen %></td>
                       <td><%=f.hidden_field :receiver, :value=>@rec %></td>

                      </tr>
                	<tr>   
                       <td><%=f.label :subject,"Location"%></td>                       
                       <td><%=f.text_field :subject %></td>
                	</tr>
               		<tr>
                       <td><%=f.label :message,"Meeting Request"%></td>                       
                       <td><%=f.text_area :message, :size => '5x5'%></td>
               		</tr>
               		<tr>
                       <td></td><td></td><td></td>
                       <td colspan=3><%=f.submit 'Send Request'%></td>
               		</tr>
                      
       <%end%>
 </table>

