<h1>Messages</h1>
<h1>Send message to [<%= @use.first_name %>]</h1>
<table cellspacing=10>
       <%=form_for :message, :url=>{:action=>"sendmessage", :controller=>"messages"} do |f|%>
                       <tr>
                       <td><%=f.hidden_field :sender, :value=>@sen %></td>
                       <td><%=f.hidden_field :receiver, :value=>@rec %></td>
                       <td><%= f.hidden_field :user_id, :value =>@user %></td> 
                      </tr>
                	<tr>   
                       <td><%=f.label :subject,"Subject"%></td>                       
                       <td><%=f.text_field :subject %></td>
                	</tr>
               		<tr>
                       <td><%=f.label :message,"Message"%></td>                       
                       <td><%=f.text_area :message, :size => '50x10'%></td>
               		</tr>
               		<tr>
                       <td></td><td></td><td></td>
                       <td colspan=3><%=f.submit 'Send Message'%></td>
               		</tr>
                      
       <%end%>
 </table>

