<br><br><br><br><br><br><br>
<html>
<head>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css"">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>

<h3 align="center">Managed Availability Time</h3>
<br />
<br />
</head>
<body>

<div align="center" id="bodypart">
<%= form_for:user, :url => {:controller=>'fb',:action=>'create',:id=>params[:id]} do |f| %>


From Time

<%= f.time_select(:from_time,:ampm => true, :default => 0.days.from_now.in_time_zone(@timezone)) %>

To Time
<%= f.time_select(:to_time,:ampm => true, :default => 0.days.from_now.in_time_zone(@timezone)) %>
<br />
<br />

Day:<%= f.select :days, options_for_select([["-- select --", "  "], "Sunday","Monday" , "Tuesday" , "Wednesday","Thursday","Friday","Saturday"])%>
<br />
<br />
<%= f.submit "Submit"%>
<% end %>
<%= flash[:notice] %>
</body>





<%=link_to"Back",:back%>
</html>


  
