<br><br><br><br><br>
<h3>List of peers</h3>
<br><br>
   
<% @home.each do |p| %>
<% unless current_user.id==p.id  %>
<TABLE border=1 bgcolor=#FFFFFF>
   <tr>
	<th>Member Name</th>
	<th>Member image</th >   
	<th>Email</th>
	<th>Send friends Request</th> 
	<th>Send Message</th> 
	<th>Profile Details</th> 

   </tr>
   <tr>	
	<td><%=p.first_name%></td>
	<td><%= image_tag p.avatar.url(:thumb)%></td>
	<td><%=p.email%></td>
	<td><%= link_to "click here","/friendship/addfriend/#{p.id}" %> </td> 
	<td><%= link_to p.email,"/write/#{p.id}" %></td>
	 </td><%= link_to  "full details", "/home/fulldetails/#{p.id}" %></td>
   </tr>
</TABLE>
   



<% end %>




<br><br><br>
<% end %>




    <%= will_paginate @home %>


