<% if @user.present? %>





<br><br><br><br><br>
<h1>Congrats your Searches are Found</h1>





<table border=1>
   <tr>
	<th>Member Name</th>
	<th>Member Image</th> 
	<th>Member email</th> 
	<th>Member companyname</th> 
	<th>Member addressline1</th>
	<th>Member citytown</th>
	<th>Member state</th>   
	
   </tr>
   <tr>	

	<td><%=@user.first_name%></td>
	<td><%= image_tag @user.avatar.url(:thumb)%></td>
	<td><%=@user.email%></td>
	<td><%=@user.companyname%></td>
	<td><%=@user.addressline1%></td>
	<td><%=@user.citytown%></td>
	<td><%=@user.state%></td>
	
	
	
   </tr>
</table>
<br><br><br>



<% else %>


<br><br><br><br><br><br><br><br><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <h1>No Searches are Found</h1>

<% end %>






