
<br/><br/><br/><br/><br/><br/><br/><br/>



<html>

<table border="1" >
<span style="position:absolute; left:70px; top:450px; width:503px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/u202.png',sizingMethod='scale');
"><img style="width:503px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
src="/images/u202.png" border="1" alt=""></span>


<span style="position:absolute; left:70px; top:280px; width:503px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/u202.png',sizingMethod='scale');
"><img style="width:503px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
src="/images/u202.png" border="1" alt=""></span>



<span style="position:absolute; left:70px; top:550px; width:503px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/u202.png',sizingMethod='scale');
"><img style="width:503px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
src="/images/u202.png" border="1" alt=""></span>

<DIV id=u11 style="position:absolute; left:96px; top:267px; width:172px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u11_rtf><span style=" font-family:'Arial'; color:#000000; font-size:14pt;"><b>Work Experience</b></span></DIV></DIV>
<DIV  style="position:absolute; left:109px; top:375px; width:229px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u12_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b><%= @user.title %></b></span></DIV></DIV>
<IMG id=u12 src="Resources/transparent.gif" style="position:absolute; left:109px; top:375px; width:229px; height:16px" >

<DIV  style="position:absolute; left:48px; top:321px; width:580px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u13_rtf><span style=" font-family:'Verdana'; color:#808080; font-size:10pt;">The work details are listed with most recent Job at first. Click Edit to update your details...</span></DIV></DIV>
<IMG id=u13 src="Resources/transparent.gif" style="position:absolute; left:48px; top:321px; width:580px; height:32px" >

<DIV  style="position:absolute; left:108px; top:427px; width:177px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u14_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @user.totalyearofexperience %></span></DIV></DIV>
<IMG id=u14 src="Resources/transparent.gif" style="position:absolute; left:108px; top:427px; width:177px; height:16px" >

<DIV id=u15 style="position:absolute; left:400px; top:427px; width:30px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u15_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u><%= link_to "Edit", home_editwork_path %></u></span></DIV></DIV>
<DIV id=u15ann style="font-size:1px; position:absolute; left:421px; top:423px; width:1px; height:1px; overflow:visible"></DIV>


<DIV  style="position:absolute; left:99px; top:477px; width:369px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u75_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b><%= @user.title %>.</b></span></DIV></DIV>
<IMG id=u75 src="Resources/transparent.gif" style="position:absolute; left:99px; top:477px; width:369px; height:16px" >

<DIV  style="position:absolute; left:98px; top:527px; width:177px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u76_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @user.totalyearofexperience %></span></DIV></DIV>
<IMG id=u76 src="Resources/transparent.gif" style="position:absolute; left:98px; top:527px; width:177px; height:16px" >

<DIV id=u77 style="position:absolute; left:390px; top:527px; width:30px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u77_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u><%= link_to "Edit", home_editwork_path %></u></span></DIV></DIV>
<DIV id=u77ann style="font-size:1px; position:absolute; left:411px; top:523px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:58px; top:471px; width:27px; height:28px">
<IMG id=ou78 src="View work details_files/u78.gif" style="position:absolute;left:0px;top:0px;width:27px;height:28px">
</span>
<IMG id=u78 src="Resources/transparent.gif" style="position:absolute; left:58px; top:471px; width:27px; height:28px"   >

<DIV  style="position:absolute; left:98px; top:503px; width:160px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u79_rtf><span style=" font-family:'Arial'; color:#000000; font-size:9pt;"><b> <%= @user.citytown %></b></span></DIV></DIV>
<IMG id=u79 src="Resources/transparent.gif" style="position:absolute; left:98px; top:503px; width:160px; height:15px" >

<DIV id=u21container style="position:absolute; left:494px; top:265px; width:105px; height:26px;; overflow:visible">

<DIV id=u22 style="position:absolute; left:2px; top:4.5px; width:100px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= link_to "Add Work", home_edwork_path %> </span></div></DIV></DIV>
</DIV>

<DIV  style="position:absolute; left:108px; top:401px; width:160px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u19_rtf><span style=" font-family:'Arial'; color:#000000; font-size:9pt;"><b> <%= @user.citytown %></b></span></DIV></DIV>
</table>
</html>
