<br><br><br><br><br>
<h3>List of  my peers</h3>
<br><br>

<% @friend.each do |p| %>
<% unless current_user.id==p.id  %>
<table border=1>
   <tr>
	<th>Member Name</th>
	<th>Member image</th>
       <th>Email</th> 
	<th>Send Message</th> 
	<th>Delete</th> 


   </tr>
   <tr>	
	<td><%=p.first_name%></td>
	<td><%= image_tag p.avatar.url(:thumb)%></td>
	<td><%=p.email%></td>
	<td><%= link_to p.email,"/write/#{p.id}" %></td>
	<td><%= link_to image_tag("delete.jpeg"), :id=>p.id, :action => "destroy"  %></td>


   </tr>
</table>

<% end %>




<br><br><br>
<% end %>






