Hi  <%=@mail%>    
<table>
<th>Details</th>
<tr>
<td><%=@fullname%></td>
</tr>
<tr><td><%=@subject %></td></tr>
<tr><td><%=@comment %></td></tr>
<tr><td><%=@category%></td></tr>
<tr><td><%=@youremail %></td></tr>



</table>